@CHARSET "ISO-8859-1";

.column {
	width: 250px;
	float: left;
	padding-bottom: 100px;
}
.sortable {
	width: 100%;
	height: 700px;
/* 	background: yellow; */
	display: table;
	text-align: left;
}
.portlet.span-1, .portlet.span-99 { width: 220px; }
.portlet.span-2 { width: 455px; }
.portlet.span-3 { width: 692px; }
.portlet.span-4 { width: 927px; }

.portlet {
	margin: 2px;
	padding: 5px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.ui-sortable-placeholder {
  	border: 1px dotted black;
	visibility: visible !important;
 	height: 29px;
	background: transparent;
	
}
.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}
.portlet-toggle {
	float: right;
    position: relative;
    top: 1px;
}
.refresh {
	float: right;
    position: relative;
    top: 2px;
	margin-right: 2px;
}
.fa-spinner {
	font-size: 32px;
}

.refresh:hover, .portlet-toggle:hover {
	opacity: 0.5;
	cursor: pointer;
}
.portlet-content {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}
.savePosition {
	border-radius: 3px;
    height: 25px;
    border: 1px solid #9f9f9f;
	transition: all 0.4s
}

.savePosition:hover {
	box-shadow: 0px 3px 4px 0px #cfcfcf;
	transition: all 0.4s
}

.portlet-error {
	display: none;
}