* {
	padding: 0px;
	margin: 0px;
}

html,
body,
p {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #09205e;
	text-align: center;
	
}

#unloader{
	border:0;
	width:0;
	visibility:hidden;
}

#welcome{
	width: 400px;
	height: 400px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	text-align:center
}

#logo{
	margin-top: 30px;
}

#browser_detection{
	margin-top:20px;
}

#system_detection{
	margin-top:20px;
}