
body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 12px;
}


.configText{
	font-family: sans-serif;
	font-size: 11px;
	font-weight: bold;
}


#container {
	width:400px;
	border: 1px solid #DDDDDD;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -200px;
}

#updatebox {
	text-align:center;
}

#currentVersion {
	color: green;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
#uploadedVersion {
	color: red;
	margin-left: 10px;
	margin-right: 10px;
}

#errorMessage {
	color: red;
	font-weight: bold;
	
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}