@CHARSET "ISO-8859-1";

/*:root {
  --text-color: #00e600;
}*/

.display {
	position: relative;
	font-family: Courier New;
	/*font-size: 10px;*/
	background: black;
	color: #00e600;
	width: 810px;
	height: 350px;
	zoom: 1.5;
}

.display .component {
	position: absolute;
}

.component.input {
	z-index: 10;
}

.inputtext {
	font-family: Courier New;
/* 	font-size: 15px; */
	color: #00e600;
    padding: 0px;
    background: transparent !important;
	outline: none;
    border: transparent;
    border-bottom: 1px solid #00e600;
	height: 11px;
}

.display .inputtext::-ms-clear {
    display: none;
}

